---
import SanityRichText from "../../components/SanityRichText.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { sanityClient } from "sanity:client";
import { DateTime } from "luxon";
import lightGallery from "lightgallery";

export async function getStaticPaths() {
  const posts = await sanityClient.fetch(`*[_type == "post"]`);

  return posts.map((post: any) => {
    return {
      params: {
        slug: post.slug?.current || "",
      },
      props: { ...post },
    };
  });
}

const { title, body, _updatedAt } = Astro.props;

const publishDate = DateTime.fromISO(_updatedAt);
---

<BaseLayout title={title}>
  <main class="prose px-12 py-6">
    <h1 class="h1">{title}</h1><p>
      Published {publishDate.monthLong}
      {" "}{publishDate.day}, {publishDate.year}
    </p><SanityRichText portableText={body} />
  </main>
</BaseLayout>
